QMainWindow {
  background-color: #221616;
  margin: 0;
  padding: 0;
}

QLabel {
  background-color: rgba(255, 255, 255, 0);
}

#leftContainer {
  /* culoare data doar pentru test */
  background-color: rgba(63, 208, 27, 0);
  image: url("images/leftBackground.png");
}

#labelPlayer1 {
  /*text edit*/
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 25px;
  margin: 60% 0% 45% 0%;
  border-radius: 25%;
}

#diceContainer {
  image: url("images/diceLayoutBackground.png");
}

#labelPlayer2 {
  /*text edit*/
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 25px;
  margin: 45% 0% 60% 0%;
  border-radius: 25%;
}

#middleContainer {
  /* culoare data doar pentru test */
  background-color: rgba(63, 208, 27, 0);
  background-image: url("images/boardBackground.png");
  background-repeat: no-repeat;
  background-position: center;
}

#middleLeftLayoutContainer {
  background-color: rgba(51, 255, 0, 0);
}

#positionTopLeftContainer {
  background-color: rgba(51, 255, 0, 0);
}

#pos13Container {
  background-color: rgba(51, 255, 0, 0);
}

#pos14Container {
  background-color: rgba(51, 255, 0, 0);
}

#pos15Container {
  background-color: rgba(51, 255, 0, 0);
}

#pos16Container {
  background-color: rgba(51, 255, 0, 0);
}

#pos17Container {
  background-color: rgba(51, 255, 0, 0);
}

#pos18Container {
  background-color: rgba(51, 255, 0, 0);
}

#positionButtonLeftContainer {
  background-color: rgba(51, 255, 0, 0);
}

#pos7Container {
  background-color: rgba(51, 255, 0, 0);
}

#pos8Container {
  background-color: rgba(51, 255, 0, 0);
}

#pos9Container {
  background-color: rgba(51, 255, 0, 0);
}

#pos10Container {
  background-color: rgba(51, 255, 0, 0);
}

#pos11Container {
  background-color: rgba(51, 255, 0, 0);
}

#pos12Container {
  background-color: rgba(51, 255, 0, 0);
}

#middleFenceLayoutContainer {
  background-color: rgba(51, 255, 0, 0);
}

#fenceWhiteCheckersContainer {
  background-color: rgba(51, 255, 0, 0);
}

#fenceBlackCheckersContainer {
  background-color: rgba(51, 255, 0, 0);
}

#middleRightLayoutContainer {
  background-color: rgba(51, 255, 0, 0);
}

#positionTopRightContainer {
  background-color: rgba(51, 255, 0, 0);
}

#pos19Container {
  background-color: rgba(51, 255, 0, 0);
}

#pos20Container {
  background-color: rgba(51, 255, 0, 0);
}

#pos21Container {
  background-color: rgba(51, 255, 0, 0);
}

#pos22Container {
  background-color: rgba(51, 255, 0, 0);
}

#pos23Container {
  background-color: rgba(51, 255, 0, 0);
}

#pos24Container {
  background-color: rgba(51, 255, 0, 0);
}

#positionButtonRightContainer {
  background-color: rgba(51, 255, 0, 0);
}

#pos1Container {
  background-color: rgba(51, 255, 0, 0);
}

#pos2Container {
  background-color: rgba(51, 255, 0, 0);
}

#pos3Container {
  background-color: rgba(51, 255, 0, 0);
}

#pos4Container {
  background-color: rgba(51, 255, 0, 0);
}

#pos5Container {
  background-color: rgba(51, 255, 0, 0);
}

#pos6Container {
  background-color: rgba(51, 255, 0, 0);
}

#blackChecker {
  image: url("images/black-checker.png");
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}

#whiteChecker {
  image: url("images/white-checker.png");
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}

#ghostChecker {
  image: url("images/ghostChecker.png");
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}

#ghostFenceWhiteChecker {
  image: url("images/white-checker.png");
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}

#ghostFenceBlackChecker {
  image: url("images/black-checker.png");
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}

#rightContainer {
  background-color: rgba(63, 208, 27, 0);
  image: url("images/rightBackgroud.png");
}

#whiteCheckersContainer {
  background-color: rgba(255, 255, 255, 0);
  image: url("images/outCheckersBackground.png");
}

#blackCheckersContainer {
  background-color: rgba(255, 255, 255, 0);
  image: url("images/outCheckersBackground.png");
}

#outWhiteChecker {
  image: url("images/outWhiteChecker.png");
}

#outBlackChecker {
  image: url("images/outBlackChecker.png");
}

#rollButton {
  image: url("images/rollButton.png");
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}

#infoBox {
  image: url("images/backgroundInfoWindow.png");
}

#messageBox {
  image: url("images/backgroundMessageWindow.png");
}

#nextButton {
  image: url("images/nextbutton.png");
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}

#previousButton {
  image: url("images/previewButton.png");
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}

#startButton {
  image: url("images/startButton.png");
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}

#button1v1 {
  image: url("images/activeButton.png");
  background-color: rgba(0, 0, 0, 0);
  color: black;
  outline: none;
}

#button1vPC {
  image: url("images/inactiveButton.png");
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  color: black;
}/*# sourceMappingURL=styleSheet.css.map */