$mainContainerBColor: rgba(63, 208, 27, 0);
$labelPlayerBColor: rgba(73, 158, 211, 0.185);
$checkerOUTContainerBColor: rgba(255, 255, 255, 0);
$playersTextColor: rgb(255, 255, 255);
$layoutCheckersBColor: rgba(51, 255, 0, 0);
$frameElementsBColor: rgba(63, 208, 27, 0.363);

$rollButton-image: "images/rollButton.png";
$blackChecker-image: "images/black-checker.png";
$whiteChecker-image: "images/white-checker.png";
$backgroundPlayer-image: "images/playerNameLayout.png";
$backgroundBoard-image: "images/boardBackground.png";
$backgroundLeft-image: "images/leftBackground.png";
$backgroundRight-image: "images/rightBackgroud.png";
$backgroundDice-image: "images/diceLayoutBackground.png";
$backgroundOutCheckers-image: "images/outCheckersBackground.png";
$background-infoBoxWindow-image: "images/backgroundInfoWindow.png";
$background-messageBoxWindow-image: "images/backgroundMessageWindow.png";
$outWhiteCheckers-image: "images/outWhiteChecker.png";
$outBlackCheckers-image: "images/outBlackChecker.png";
$ghostChecker-image: "images/ghostChecker.png";
$nextButton-image: "images/nextbutton.png";
$preaviousButton-image: "images/previewButton.png";
$startButton-image: "images/startButton.png";
$activeButton-image: "images/activeButton.png";
$inactiveButton-image: "images/inactiveButton.png";

QMainWindow { 
    // image: url($background-image);
    background-color: #221616;
    margin:0;
    padding:0;
}
QLabel { 
    background-color: $checkerOUTContainerBColor;
}
/////////////// STANGA FERESTREI /////////////////
#leftContainer{
    /* culoare data doar pentru test */
    background-color: $mainContainerBColor;
    image: url($backgroundLeft-image)
}
#labelPlayer1 {    
    /*text edit*/
    color: $playersTextColor;
    font-weight: bold;
    font-size: 25px;
    
    // spatierea dintre obiecte
    margin: 60% 0% 45% 0%;
    border-radius: 25%;
}
#diceContainer{
    // background-color: $labelPlayerBColor;
    image: url($backgroundDice-image)
    // margin: 15% 30% 12% 25%;
}
#labelPlayer2 {
    /*text edit*/
    color: $playersTextColor;
    font-weight: bold;
    font-size: 25px;
    
    // spatierea dintre obiecte
    margin: 45% 0% 60% 0%;
    border-radius: 25%;
}
////////////// MIJLOUL FERESTREI /////////////////
#middleContainer{
    /* culoare data doar pentru test */
    background-color: $mainContainerBColor;
    background-image: url($backgroundBoard-image);
    background-repeat: no-repeat;
    background-position: center;
}
// ----- zona din stanga a tablei -----
#middleLeftLayoutContainer{
    background-color: $layoutCheckersBColor;
}
#positionTopLeftContainer{
    background-color: $layoutCheckersBColor;
}
#pos13Container{
    background-color: $layoutCheckersBColor;
}
#pos14Container{
    background-color: $layoutCheckersBColor;
}
#pos15Container{
    background-color: $layoutCheckersBColor;
}
#pos16Container{
    background-color: $layoutCheckersBColor;
}
#pos17Container{
    background-color: $layoutCheckersBColor;
}
#pos18Container{
    background-color: $layoutCheckersBColor;
}
#positionButtonLeftContainer{
    background-color: $layoutCheckersBColor;
}
#pos7Container{
    background-color: $layoutCheckersBColor;
}
#pos8Container{
    background-color: $layoutCheckersBColor;
}
#pos9Container{
    background-color: $layoutCheckersBColor;
}
#pos10Container{
    background-color: $layoutCheckersBColor;
}
#pos11Container{
    background-color: $layoutCheckersBColor;
}
#pos12Container{
    background-color: $layoutCheckersBColor;
}
// ----- zona din mijloc a tablei -----
#middleFenceLayoutContainer{
    background-color: $layoutCheckersBColor;
}
#fenceWhiteCheckersContainer{
    background-color: $layoutCheckersBColor;
}
#fenceBlackCheckersContainer{
    background-color: $layoutCheckersBColor;
}
// ----- zona din dreapta a tablei -----
#middleRightLayoutContainer{
    background-color: $layoutCheckersBColor;
}
#positionTopRightContainer{
    background-color: $layoutCheckersBColor;
}
#pos19Container{
    background-color: $layoutCheckersBColor;
}
#pos20Container{
    background-color: $layoutCheckersBColor;
}
#pos21Container{
    background-color: $layoutCheckersBColor;
}
#pos22Container{
    background-color: $layoutCheckersBColor;
}
#pos23Container{
    background-color: $layoutCheckersBColor;
}
#pos24Container{
    background-color: $layoutCheckersBColor;
}
#positionButtonRightContainer{
    background-color: $layoutCheckersBColor;
}
#pos1Container{
    background-color: $layoutCheckersBColor;
}
#pos2Container{
    background-color: $layoutCheckersBColor;
}
#pos3Container{
    background-color: $layoutCheckersBColor;
}
#pos4Container{
    background-color: $layoutCheckersBColor;
}
#pos5Container{
    background-color: $layoutCheckersBColor;
}
#pos6Container{
    background-color: $layoutCheckersBColor;
}
////////////////// CHECKERS ////////////////////
#blackChecker{
    image: url($blackChecker-image);
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}
#whiteChecker{
    image: url($whiteChecker-image);
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}
#ghostChecker{
    image: url($ghostChecker-image);
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}
#ghostFenceWhiteChecker{
    image: url($whiteChecker-image);
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}
#ghostFenceBlackChecker{
    image: url($blackChecker-image);
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}
////////////// DREAPTA FERESTREI /////////////////
#rightContainer{    
    background-color: $mainContainerBColor;
    image: url($backgroundRight-image);
}
#whiteCheckersContainer{
    background-color: $checkerOUTContainerBColor;
    image: url($backgroundOutCheckers-image);
    }
#blackCheckersContainer{
    background-color: $checkerOUTContainerBColor;
    image: url($backgroundOutCheckers-image);
}
#outWhiteChecker{
    image: url($outWhiteCheckers-image);
}
#outBlackChecker{
    image: url($outBlackCheckers-image);
}
////////////// BUTONUL DE ROLL /////////////////
#rollButton{
    image: url($rollButton-image);
    background-color: rgba(0, 0, 0, 0);
    outline: none;
} 
////////////// MESSAGE FRAME ////////////////////

#infoBox{
    image: url($background-infoBoxWindow-image);
}

#messageBox{
    image: url($background-messageBoxWindow-image);
}

#nextButton{
    image: url($nextButton-image);
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}

#previousButton{
    image: url($preaviousButton-image);
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}

#startButton{
    image: url($startButton-image);
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}

#button1v1{
    image: url($activeButton-image);
    background-color: rgba(0, 0, 0, 0);
    color: black;
    outline: none;
}

#button1vPC{
    image: url($inactiveButton-image);
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    color: black;
}

