$mainContainerBColor: rgba(63, 208, 27, 0.367);
$labelPlayerBColor: rgba(233, 219, 219, 0);
$checkerContainerBColor: rgba(255, 255, 255, 0);
$playersTextColor: rgb(255, 255, 255);

$background-image: "images/gui_v2.png";
$rollButton-image: "images/rollButton.png";
$blackChecker-image: "images/black-checker.png";
$whiteChecker-image: "images/white-checker.png";

QMainWindow { 
    image: url($background-image)
}

#leftContainer{
    /* culoare data doar pentru test */
    background-color: $mainContainerBColor;
}

#labelPlayer1 {
    background-color: $labelPlayerBColor;
    margin: 70% 30% 12% 25%;

    /*text edit*/
    color: $playersTextColor;
    font-weight: bold;
    font-size: 25px;
    padding-left: 25%;
}

#diceContainer{
    background-color: $labelPlayerBColor; 
    margin: 15% 30% 12% 25%;
}

#labelPlayer2 {
    background-color: $labelPlayerBColor;
    margin: 12% 30% 70% 25%;

    /*text edit*/
    color: $playersTextColor;
    font-weight: bold;
    font-size: 25px;
    padding-left: 25%;
}

#middleContainer{
    /* culoare data doar pentru test */
    background-color: $mainContainerBColor;
}

#blackChecker{
    background-color: white;
    image: url($blackChecker-image);
    border-radius: 30%;
}

#whiteChecker{
    background-color: white;
    image: url($whiteChecker-image);
    border-radius: 30%;
}

#rightContainer{
    background-color: $mainContainerBColor;

}

#whiteCheckersContainer{
    background-color: $checkerContainerBColor;
    margin: 14% 8% 30% 10%;

}

#rollButton{
    image: url($rollButton-image);
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 25%;
    margin-left: 5%;
    
} 

#blackCheckersContainer{
    background-color: $checkerContainerBColor;
    margin: 25% 8% 10% 10%;

}