$mainContainerBColor: rgba(63, 208, 27, 0);
$labelPlayerBColor: rgba(233, 219, 219, 0);
$checkerOUTContainerBColor: rgba(255, 255, 255, 0);
$playersTextColor: rgb(255, 255, 255);
$layoutCheckersBColor: rgba(51, 255, 0, 0);

$rollButton-image: "images/rollButton.png";
$blackChecker-image: "images/black-checker.png";
$whiteChecker-image: "images/white-checker.png";
$backgroundPlayer-image: "images/playerNameLayout.png";
$backgroundBoard-image: "images/boardBackground.png";
$backgroundLeft-image: "images/leftBackground.png";
$backgroundRight-image: "images/rightBackgroud.png";
$backgroundDice-image: "images/diceLayoutBackground.png";
$backgroundOutCheckers-image: "images/outCheckersBackground.png";
$outWhiteCheckers-image: "images/outWhiteChecker.png";
$outBlackCheckers-image: "images/outBlackChecker.png";
$gostChecker-image: "images/gostChecker.png";

QMainWindow { 
    // image: url($background-image);
    background-color: #221616;
    margin:0;
    padding:0;
}

QLabel { 
    background-color: $checkerOUTContainerBColor;
}

/////////////// STANGA FERESTREI /////////////////
#leftContainer{
    /* culoare data doar pentru test */
    background-color: $mainContainerBColor;
    image: url($backgroundLeft-image)
}

#labelPlayer1 {
    background-color: $labelPlayerBColor;
    image: url($backgroundPlayer-image);
    // margin: 70% 30% 12% 25%;

    /*text edit*/
    color: $playersTextColor;
    font-weight: bold;
    font-size: 25px;
    // padding-left: 25%;
}

#diceContainer{
    background-color: $labelPlayerBColor;
    image: url($backgroundDice-image)

    // margin: 15% 30% 12% 25%;
}

#labelPlayer2 {
    background-color: $labelPlayerBColor;
    image: url($backgroundPlayer-image);
    // margin: 70% 30% 12% 25%;

    /*text edit*/
    color: $playersTextColor;
    font-weight: bold;
    font-size: 25px;
    // padding-left: 25%;
}

////////////// MIJLOUL FERESTREI /////////////////
#middleContainer{
    /* culoare data doar pentru test */
    background-color: $mainContainerBColor;
    background-image: url($backgroundBoard-image);
    background-repeat: no-repeat;
    background-position: center;
}
// ----- zona din stanga a tablei -----
#middleLeftLayoutContainer{
    background-color: $layoutCheckersBColor;
}
#positionTopLeftContainer{
    background-color: $layoutCheckersBColor;
}
#pos13Container{
    background-color: $layoutCheckersBColor;
}
#pos14Container{
    background-color: $layoutCheckersBColor;
}
#pos15Container{
    background-color: $layoutCheckersBColor;
}
#pos16Container{
    background-color: $layoutCheckersBColor;
}
#pos17Container{
    background-color: $layoutCheckersBColor;
}
#pos18Container{
    background-color: $layoutCheckersBColor;
}
#positionButtonLeftContainer{
    background-color: $layoutCheckersBColor;
}
#pos7Container{
    background-color: $layoutCheckersBColor;
}
#pos8Container{
    background-color: $layoutCheckersBColor;
}
#pos9Container{
    background-color: $layoutCheckersBColor;
}
#pos10Container{
    background-color: $layoutCheckersBColor;
}
#pos11Container{
    background-color: $layoutCheckersBColor;
}
#pos12Container{
    background-color: $layoutCheckersBColor;
}
// ----- zona din mijloc a tablei -----
#middleFenceLayoutContainer{
    background-color: $layoutCheckersBColor;
}
#fenceWhiteCheckersContainer{
    background-color: $layoutCheckersBColor;
}
#fenceBlackCheckersContainer{
    background-color: $layoutCheckersBColor;
}
// ----- zona din dreapta a tablei -----
#middleRightLayoutContainer{
    background-color: $layoutCheckersBColor;
}
#positionTopRightContainer{
    background-color: $layoutCheckersBColor;
}
#pos19Container{
    background-color: $layoutCheckersBColor;
}
#pos20Container{
    background-color: $layoutCheckersBColor;
}
#pos21Container{
    background-color: $layoutCheckersBColor;
}
#pos22Container{
    background-color: $layoutCheckersBColor;
}
#pos23Container{
    background-color: $layoutCheckersBColor;
}
#pos24Container{
    background-color: $layoutCheckersBColor;
}
#positionButtonRightContainer{
    background-color: $layoutCheckersBColor;
}
#pos1Container{
    background-color: $layoutCheckersBColor;
}
#pos2Container{
    background-color: $layoutCheckersBColor;
}
#pos3Container{
    background-color: $layoutCheckersBColor;
}
#pos4Container{
    background-color: $layoutCheckersBColor;
}
#pos5Container{
    background-color: $layoutCheckersBColor;
}
#pos6Container{
    background-color: $layoutCheckersBColor;
}

#blackChecker{
    image: url($blackChecker-image);
    border-radius: 25%;
}

#whiteChecker{
    image: url($whiteChecker-image);
    border-radius: 25%;
}
#gostChecker{
    image: url($gostChecker-image);
    background-color: rgba(0, 0, 0, 0);
}
#gostFenceWhiteChecker{
    image: url($whiteChecker-image);
    background-color: rgba(0, 0, 0, 0);
}
#gostFenceBlackChecker{
    image: url($blackChecker-image);
    background-color: rgba(0, 0, 0, 0);
}
////////////// DREAPTA FERESTREI /////////////////
#rightContainer{
    background-color: $mainContainerBColor;
    image: url($backgroundRight-image)
}

#whiteCheckersContainer{
    background-color: $checkerOUTContainerBColor;
    image: url($backgroundOutCheckers-image);
}

#rollButton{
    image: url($rollButton-image);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25%;
    
} 

#blackCheckersContainer{
    background-color: $checkerOUTContainerBColor;
    image: url($backgroundOutCheckers-image);
}

#outWhiteChecker{
    image: url($outWhiteCheckers-image);
}
#outBlackChecker{
    image: url($outBlackCheckers-image);
}
