QMainWindow {
  image: url("images/gui_v2.png");
  margin: 0;
  padding: 0;
}

#leftContainer {
  /* culoare data doar pentru test */
  background-color: rgba(63, 208, 27, 0.301);
}

#labelPlayer1 {
  background-color: rgba(233, 219, 219, 0.267);
  margin: 70% 30% 12% 25%;
  /*text edit*/
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 25px;
  padding-left: 25%;
}

#diceContainer {
  background-color: rgba(233, 219, 219, 0.267);
  margin: 15% 30% 12% 25%;
}

#labelPlayer2 {
  background-color: rgba(233, 219, 219, 0.267);
  margin: 12% 30% 70% 25%;
  /*text edit*/
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 25px;
  padding-left: 25%;
}

#middleContainer {
  /* culoare data doar pentru test */
  background-color: rgba(63, 208, 27, 0.301);
}

#middleSecundarGridContainer_left {
  background-color: rgba(51, 255, 0, 0.332);
}

#positionTopLeftContainer {
  background-color: rgba(51, 255, 0, 0.332);
}

#pos11Container {
  background-color: rgba(51, 255, 0, 0.332);
}

#pos12Container {
  background-color: rgba(51, 255, 0, 0.332);
}

#pos13Container {
  background-color: rgba(51, 255, 0, 0.332);
}

#pos14Container {
  background-color: rgba(51, 255, 0, 0.332);
}

#pos15Container {
  background-color: rgba(51, 255, 0, 0.332);
}

#positionButtonLeftContainer {
  background-color: rgba(51, 255, 0, 0.332);
}

#pos6Container {
  background-color: rgba(51, 255, 0, 0.332);
}

#pos7Container {
  background-color: rgba(51, 255, 0, 0.332);
}

#pos8Container {
  background-color: rgba(51, 255, 0, 0.332);
}

#pos9Container {
  background-color: rgba(51, 255, 0, 0.332);
}

#pos10Container {
  background-color: rgba(51, 255, 0, 0.332);
}

#middleSecundarContainer_middle {
  background-color: rgba(51, 255, 0, 0.332);
}

#fenceWhiteCheckersContainer {
  background-color: rgba(51, 255, 0, 0.332);
}

#fenceBlackCheckersContainer {
  background-color: rgba(51, 255, 0, 0.332);
}

#middleSecundarGridContainer_right {
  background-color: rgba(51, 255, 0, 0.332);
}

#positionTopRightContainer {
  background-color: rgba(51, 255, 0, 0.332);
}

#pos16Container {
  background-color: rgba(51, 255, 0, 0.332);
}

#pos17Container {
  background-color: rgba(51, 255, 0, 0.332);
}

#pos18Container {
  background-color: rgba(51, 255, 0, 0.332);
}

#pos19Container {
  background-color: rgba(51, 255, 0, 0.332);
}

#pos20Container {
  background-color: rgba(51, 255, 0, 0.332);
}

#positionButtonRightContainer {
  background-color: rgba(51, 255, 0, 0.332);
}

#pos1Container {
  background-color: rgba(51, 255, 0, 0.332);
}

#pos2Container {
  background-color: rgba(51, 255, 0, 0.332);
}

#pos3Container {
  background-color: rgba(51, 255, 0, 0.332);
}

#pos4Container {
  background-color: rgba(51, 255, 0, 0.332);
}

#pos5Container {
  background-color: rgba(51, 255, 0, 0.332);
}

#blackChecker {
  background-color: white;
  image: url("images/black-checker.png");
  border-radius: 25%;
}

#whiteChecker {
  background-color: white;
  image: url("images/white-checker.png");
  border-radius: 25%;
}

#rightContainer {
  background-color: rgba(63, 208, 27, 0.301);
}

#whiteCheckersContainer {
  background-color: rgba(255, 255, 255, 0.341);
  margin: 14% 0% 30% 0%;
}

#rollButton {
  image: url("images/rollButton.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25%;
}

#blackCheckersContainer {
  background-color: rgba(255, 255, 255, 0.341);
  margin: 30% 0% 10% 0%;
}/*# sourceMappingURL=styleSheet.css.map */